@import url(../CSS/main.css);


.nav-box{
    padding: .3rem;
    height: 10rem;
    width: 100%;
}

.right-side-links{
    margin-left:14rem;
    
}
.left-side-link{
   font-size: 1.2rem;
}

.nav__bar{
    width: 90%;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}