@import url(../CSS/navbar.css);

@import url(../CSS/slidebar.css);

@import url(../CSS/card.css);


.cards{   
    border-radius: 4px;
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    min-height: 100px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 1.5rem;
    
}