@import url(../CSS/navbar.css);

@import url(../CSS//slidebar.css);

.grid--col-2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:20px;
}



.grid__item{
    background-color: rgb(120, 187, 120);
    /* background-color: #f8cdd7; */
    padding: 4rem;
    font-size: large;
    text-align: center;
}


.grid--col-3 {
    display: grid;
    grid-template-columns: 30% 30% 32%;
    grid-column-gap: 10px;
}

